@font-face {
    font-family: milky-cream;
    src: url("./Milky-Cream.otf");
}

body, html{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: milky-cream, sans-serif;
}

.layout-container{
    height: 100%;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 1fr;
}

button{
    font-family: milky-cream, sans-serif;
}

/* header */
.header{
    background-color: #d0312d;
    grid-column: 1 / -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 50px;
}

/* side panel */
.side-panel{
    background-color: #fcc9c7;
}

.filter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0px;
}

.filter-container > button{
    width: 90%;
    font-size: 20px;
    text-align: left;
    background-color: white;
    border: solid 3px #fcc9c7;
    border-radius: 10px;
    padding: 5px 10px;
}

.filter-container > button:hover{
    border: solid 3px #d0312d;
    cursor: pointer;
}

.project-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.project-container > h2{
    font-size: 30px;
    margin-left: 5%;
    align-self: self-start;
}

.project-container > button{
    width: 90%;
    font-size: 20px;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #ee6b6e;
    border: 2px solid #d0312d;
}

.project-container > button:hover{
    border: 2px solid #d0312d;
    background-color: #d0312d;
    cursor: pointer;
}

/* task container */
.task-container{
    
}