@font-face {
    font-family: milky-cream;
    src: url("./Milky-Cream.otf");
}

:root{
    --light-red-clr: #ee6b6e;
    --medium-red-clr: #ED5757;
    --dark-red-clr: #D0312D;
    --salmon-clr: #FCC9C7;
}

body, html{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: milky-cream, sans-serif;
}

.layout-container{
    height: 100%;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 1fr;
}

button{
    font-family: milky-cream, sans-serif;
}

button:hover{
    cursor: pointer;
}

/* header */
.header{
    background-color: var(--dark-red-clr);
    grid-column: 1 / -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 50px;
}

/* side panel */
.project-buttons-container, 
.project-buttons-container > button,
.filter-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.side-panel{
    background-color: var(--salmon-clr);
}

.filter-container{
    flex-direction: column;
    gap: 10px;
    margin: 20px 0px;
}

.filter-container > button{
    width: 90%;
    font-size: 20px;
    text-align: left;
    background-color: white;
    border: solid 3px var(--salmon-clr);
    border-radius: 10px;
    padding: 5px 10px;
}

.filter-container > button:hover{
    border: solid 3px var(--dark-red-clr);
}

.project-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.project-container > h2{
    font-size: 30px;
    margin-left: 5%;
    align-self: self-start;

    margin: 0px auto 0px 5%;
}

.project-container > button{
    width: 90%;
    font-size: 20px;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: var(--light-red-clr);
    border: 2px solid var(--dark-red-clr);
}

.project-container > button:hover{
    border: 2px solid var(--dark-red-clr);
    background-color: var(--dark-red-clr);
}

.projects{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 90%;
}

.project-card{
    display: flex;
    background-color: var(--dark-red-clr);
    border: 3px solid var(--dark-red-clr);
    border-radius: 10px;
    
    height: 35px;
}

.project-card:hover{
    border: 3px solid var(--medium-red-clr);
}

.project-card > button{
    font-size: 20px;
    height: 100%;
    width: 100%;
    text-align: left;
    padding-left: 10px;
}

.project-buttons-container{
    gap: 5px;
    margin-right: 5px;
}

.project-buttons-container > button{
    border: 3px solid var(--dark-red-clr);
    height: 30px;
}

.project-buttons-container button:hover{
    border: 3px solid var(--medium-red-clr);
}

.project-card img{
    height: 25px;
}

.project-card button{
    background-color: var(--dark-red-clr);
    border: 3px solid var(--dark-red-clr);
    border-radius: 10px;
}

/* task container */
.task-container{
    
}