@font-face {
    font-family: milky-cream;
    src: url("./Milky-Cream.otf");
}

:root{
    --light-red-clr: #ee6b6e;
    --medium-red-clr: #ED5757;
    --dark-red-clr: #D0312D;
    --salmon-clr: #FCC9C7;
}

*{
    box-sizing: border-box;
}

body, html{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    font-family: milky-cream, sans-serif;
}

.layout-container{
    height: 100%;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 1fr;
}

button{
    font-family: milky-cream, sans-serif;
}

button:hover{
    cursor: pointer;
}

/* header */
.header{
    background-color: var(--dark-red-clr);
    grid-column: 1 / -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 50px;
}

/* side panel */
.project-buttons-container, 
.project-buttons-container > button,
.filter-container,
#project-dialog > :first-child,
#task-dialog > :first-child,
.task-buttons-container,
.task-buttons-container > button{
    display: flex;
    justify-content: center;
    align-items: center;
}


.side-panel{
    background-color: var(--salmon-clr);
}

.filter-container{
    flex-direction: column;
    gap: 10px;
    margin: 20px 0px;
}

.filter-container > button{
    width: 90%;
    font-size: 20px;
    text-align: left;
    background-color: white;
    border: solid 3px var(--salmon-clr);
    border-radius: 10px;
    padding: 5px 10px;
}

.filter-container > button:hover,
.task-buttons-container button:hover{
    border: solid 3px var(--dark-red-clr);
}

.project-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.project-container > h2{
    font-size: 30px;
    margin-left: 5%;
    align-self: self-start;

    margin: 0px auto 0px 5%;
}

.create-project-button,
.add-task-button{
    width: 90%;
    font-size: 20px;
    border-radius: 20px;
    padding: 5px 10px;
}

.create-project-button,
.save-button,
.add-task-button{
    background-color: var(--light-red-clr);
    border: 2px solid var(--dark-red-clr);
}

.create-project-button:hover,
.save-button:hover,
.add-task-button:hover{
    border: 2px solid var(--dark-red-clr);
    background-color: var(--dark-red-clr);
}

.projects{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 90%;
}

.project-card{
    display: flex;
    background-color: var(--dark-red-clr);
    border: 3px solid var(--dark-red-clr);
    border-radius: 10px;
    
    height: 35px;
}

.project-card:hover{
    border: 3px solid var(--medium-red-clr);
}

.project-card > button{
    font-size: 20px;
    height: 100%;
    width: 209px;
    text-align: left;
    padding-left: 10px;
    /*Prevent overflow*/
    text-overflow: ellipsis; 
    overflow: hidden;
    white-space: nowrap;
}

.project-buttons-container{
    gap: 5px;
    margin-right: 5px;
}

.project-buttons-container > button{
    border: 3px solid var(--dark-red-clr);
    height: 30px;
    
}

.project-buttons-container button:hover{
    border: 3px solid var(--medium-red-clr);
}

.project-card img{
    height: 25px;
}

.project-card button{
    background-color: var(--dark-red-clr);
    border: 3px solid var(--dark-red-clr);
    border-radius: 10px;
}

/* task container */
.task-container{
    display: flex;
    flex-direction: column;
}

.display-task-container{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.current-project{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.current-project > h2{
    font-size: 30px;
    margin: 15px auto;
}

hr{
    width: 90%;
    background-color: var(--light-red-clr);
    height: 5px;
    border: none;
    margin: auto 0;
}

.add-task-button{
    width: 200px;
    margin: 20px 0px;
}

.item-card{
    display: flex;
    align-items: center;
    width: 500px;
    height: 100px;
    background-color: #F2F3F4;
    border-radius: 20px;
    gap: 10px;
}

.priority-marker{
    width: 20px;
    height: 100%;
    border-radius: 20px 0px 0px 20px; 
}

.priority1{
    background-color: #D0312D;
}

.priority2{
    background-color: orange;
}

.priority3{
    background-color: blue;
}

.priority4{
    background-color: #F2F3F4;
}

.item-card p{
    margin: 0px;
}

.item-card h3{
    margin: 5px 0px;
}

.item-card :nth-child(3){
    width: 70%;
} 

#task-done{
     transform: scale(1.5)
}

.task-buttons-container{
    gap: 5px;
    width: 110px;
    margin-right: 20px;
}

.task-buttons-container img{
    height: 30px;
    width: 30px;
}

.task-buttons-container button{
    margin: 0px;
    padding: 5px;
    border: 3px solid #F2F3F4;
    border-radius: 10px;
}

/*dialogs*/
#project-dialog,
#task-dialog{
    border: none;
    border-radius: 50px;
    padding: 0px;
}

#project-dialog{
    height: 250px;
    width: 500px;
}

.project-creation-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 70%;
}

#project-dialog > :first-child{
    height: 30%;
    background-color: var(--dark-red-clr);
}

.project-creation-form > label,
.task-creation-form label{
    font-size: 20px;
}

.project-creation-form > input,
.input{
    box-sizing: border-box;
    font-size: 20px;
    width: 300px;
}

.save-button,
.close-button{
    font-size: 20px;
    width: 120px;
    border-radius: 10px;
}

.project-creation-form > div,
.dialog-button-div{
    display: flex;
    justify-content: center;
    gap: 60px
}

.close-button{
    background-color: white;
    border: 2px solid grey;
}

.close-button:hover{
    background-color: grey;
}

.task-creation-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#task-dialog h2{
    margin: 0px;
}

#task-dialog > :first-child{
    height: 10%;
    background-color: var(--dark-red-clr);
    margin-bottom: 10px;
}

#task-dialog{
    width: 450px;
    height: 630px;
}

.task-creation-form > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-creation-form > :last-child{
    flex-direction: row;
}

.dialog-button-div{
    margin-top: 20px;
}